<div id="admin-page">

  <div>
    <div id="add-meals-form">
      <h2 class="addfood-title">Add Meal</h2>

      <form action="/admin/add-meals-form" method="POST" class="form-style">

        <label class="form-fields">
          Meal
          <input
            class="form-fields"
            type="text"
            name="itemName"
            placeholder="Enter the meal"
          />
        </label>

        <label class="form-fields">
          Description
          <input
            class="form-fields"
            type="text"
            name="itemDescription"
            placeholder="Enter the description"
          />
        </label>

        <label class="form-fields">
          Category
          <input
            class="form-fields"
            type="text"
            name="itemCategory"
            placeholder="choose your catagory"
          />
        </label>
        <label class="form-fields">
          Price
          <input
            class="form-fields"
            type="number"
            name="itemPrice"
            placeholder="Price"
          />
        </label>
        <label class="form-fields">
          ImageURL:
          <input class="form-fields" type="url" name="itemImageURL" />
        </label>

        <button class="admin-btn" type="submit">add</button>

        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>

    </div>
  </div>
  <div id="data-display">
    <table border="1">
      <tr>
        <th class="strong-style">NAME:</th>
        <th class="strong-style">DESCRIPTION:</th>
        <th class="strong-style">CATEGORY:</th>
        <th class="strong-style">PRICE $ </th>
        <th class="strong-style">Image: </th>
        <th class="strong-style edit-column">Edit/Delete</th>
      </tr>
      {{#each dataFood}}
        <tr class="list-created-meal">
          <td>{{this.itemName}}</td>
          <td>{{this.itemDescription}}</td>
          <td>{{this.itemCategory}}</td>
          <td>{{this.itemPrice}}</td>
          <td>
            <img class="meal-img" src="{{this.itemImageURL}}" /></td>
          <td class="edit-delete-btn"><button type="button">Edit</button>
            <button type="submit">Delete</button></td>
        </tr>
      {{/each}}
    </table>

  </div>
    <script src="/js/script.js"></script>
</div>