<div id="admin-page">
  <div>
    <div id="add-meals-form">
      <h2 class="addfood-title">Meals Database</h2>

      <form action="/admin/add-meals-form" method="POST" class="form-style">
        <label class="form-fields">
          Meal
          <input
            class="form-fields"
            type="text"
            name="itemName"
            placeholder="Enter the meal"
          />
        </label>

        <label class="form-fields">
          Description
          <input
            class="form-fields"
            type="text"
            name="itemDescription"
            placeholder="Enter the description"
          />
        </label>

        <label class="form-fields">
          Category
          <select class="form-fields" name="itemCategory">
            <option value="Top Choice">Top Choice</option>
            <option value="Pizza">Pizza</option>
            <option value="Salads">Salads</option>
            <option value="Burgers">Burgers</option>
            <option value="Sushi">Sushi</option>
            <option value="Soups">Soups</option>
            <option value="Desserts">Desserts</option>
            <option value="Cocktails">Cocktails</option>
          </select>
        </label>

        <label class="form-fields">
          Price
          <input
            class="form-fields"
            type="number"
            name="itemPrice"
            step="0.01"
            placeholder="Price"
          />
        </label>

        <label class="form-fields">
          Meal#
          <input class="form-fields" type="number" name="itemNumber" />
        </label>
        <label class="form-fields">
          ImageUrl
          <input
            class="form-fields"
            type="text"
            name="itemImageURL"
            placeholder="Enter the description"
          />
        </label>

        <button class="admin-btn" type="submit">add</button>

        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
    </div>
  </div>
  <div id="data-display">
    <table border="3">
      <tr class="table-header">
        <th class="strong-style stickyName">NAME:</th>
        <th class="strong-style stickyDescription">DESCRIPTION:</th>
        <th class="strong-style">CATEGORY:</th>
        <th class="strong-style stickyPrice">PRICE:</th>
        <th class="strong-style">ID: </th>
        <th class="strong-style edit-column">UPDATE</th>
      </tr>
      {{#each dataFood}}
        <tr class="list-created-meal">
          <td>{{this.itemName}}</td>
          <td><p class="description-text">{{this.itemDescription}}</p></td>
          <td>{{this.itemCategory}}</td>
          <td>${{this.itemPrice}}</td>
          <td>
            #{{this.itemNumber}}</td>
          <td class="crud-btn"><a
              class="edit"
              href="/admin/add-meals-form/edit/{{this.id}}"
            >Edit</a>
            <a
              class="delete"
              href="/admin/add-meals-form/{{this.id}}"
            >Delete</a></td>
        </tr>
      {{/each}}
    </table>
  </div>
  <script src="script.js"></script>
</div>

{{! 

.light-text {
    font-family: "Ubuntu-Light", sans-serif;
    font-weight: light; /* You can also use '300' as the font-weight value */
} }}