

<main>
  <section id="banner">
    <div class="banner">
      <div class="float-container"><img
          src="/images/burger.png"
          alt="Floating-burger" class="float"
        /></div>
      <div id="get-started-btn">
        
        <h1>Where Gastronomy Meets Technology</h1>
        {{#if isLoggedIn}}
        <div class="get-started-btn"><a href="/#menu">GET STARTED</a></div>
        {{else}}
         <div class="get-started-btn"><a href="/auth/signup">GET STARTED</a></div>
        {{/if}}
      </div>
    </div>
    <div id="category-menu">
      <ul>
         <li>
          <a class="food-icons" href="#Burgers">
            <img src="/images/food-icons/burger.png" alt="burger-icon" />
            <span class="category-name">Burgers</span>
          </a>
        </li>
        <li>
          <a class="food-icons" href="#Sushi">
            <img src="/images/food-icons/nigiri.png" alt="sushi-icon" />
            <span class="category-name">Sushi</span>
          </a>
        </li>
        <li>
          <a class="food-icons" href="#Pizzas">
            <img src="/images/food-icons/pizza.png" alt="pizza-icon" />
            <span class="category-name">Pizza</span>
          </a>
        </li>
       <li>
          <a class="food-icons" href="#Salads">
            <img src="/images/food-icons/salad.png" alt="salad-icon" />
            <span class="category-name">Salads</span>
          </a>
        </li>
        <li>
          <a class="food-icons" href="#Soups">
            <img src="/images/food-icons/hot-soup.png" alt="soup-icon" />
            <span class="category-name">Soups</span>
          </a>
        </li>
        <li>
          <a class="food-icons" href="#Desserts">
            <img src="/images/food-icons/cupcake.png" alt="dessert-icon" />
            <span class="category-name">Desserts</span>
          </a>
        </li>
        <li>
          <a class="food-icons" href="#Cocktails">
            <img src="/images/food-icons/cocktail.png" alt="cocktail-icon" />
            <span class="category-name">Cocktails</span>
          </a>
        </li>
      </ul>
    </div>
  </section>

<main>
  {{!--<section id="top-choice">
    <h2 class="category-title">Top Choice</h2>
      <div class="category-box">
        <div class="TopChoice category-box">
          <form method="post" action="/">
          <input type="hidden" name="itemId" value="{{this._id}}" >
        </div>
      </div>

  </section>
    

   

--}}
<h3 id="menu" class="menu-title ">MENU</h3>

{{#each itemsByCategory as |categoryValue categoryKey|}}
  
  <section  id="{{categoryKey}}"  class="food-section row d-flex flex-wrap justify-content-center">
  <h2 class='category-title'>{{@key}}</h2>  
  {{#each this}}
     <div class="{{categoryKey}} food-card col-lg-2 col-md-4 col-sm-6">
       <img src="{{itemImageURL}}" class="card-img-top" alt="pic">
       <div class="card-body">
         <h5 class="card-title">{{itemName}}</h5>
         <p class="card-text">{{itemDescription}}</p>
         <p class="card-title">${{itemPrice}}</p>
       </div>
         <form method='post' action='/cart' class="addToCartbtn">
           <input type='hidden' name='itemId' value='{{_id}}' >
           <input type='hidden' name='target' value='{{itemCategory}}' >
           <button class ="add-to-cart-btn">Add to cart</button>
         </form>
       
      </div>
  {{/each}}
  </div>
</section>
{{/each}}




</main>
{{!///////FOOTER//////}}
<svg
  xmlns="http://www.w3.org/2000/svg"
  xml:space="preserve"
  width="1280"
  height="68"
>
  <path fill="#1d1d1d" d="M1280 68H0V42c432-61 866-54 1280 26Z" />
</svg>

<footer>

  <div class="footer-container">
    <ul>
      <h3>FOLLOW US</h3>
      <li class="footer-icons">
        <a href="https://www.instagram.com/" target="_blank"><img
            src="/images/icons/instagram.png"
            alt="Instagram-icon"
          />Instagram</a></li>
      <li class="footer-icons"><a
          href="https://www.facebook.com/"
          target="_blank"
        ><img
            src="/images/icons/facebook.png"
            alt="Facebook-icon"
          />Facebook</a></li>
    </ul>
    <ul>
      <h3>CONTACT US</h3>
      <li class="footer-icons"><a href="" target="_blank"><img
            src="/images/icons/phone.png"
            alt="phone"
          />+3925207546707</a></li>
      <li class="footer-icons"><a
          href="https://mail.google.com/mail/u/0/#inbox?compose=jrjtXJTLZJsWZKNlDcJHLfgRFGMDGmWkGdGlMrJLwLfMHNHTJSfwLvrmLnZvDrfqsQrHbsnB"
          target="_blank"
        ><img
            src="/images/icons/gmail.png"
            alt="email"
          />datadine@gmail.com</a></li>
    </ul>
    <ul>
      <h3>GET OUR APP ON</h3>
      <li class="footer-icons"><a
          href="https://www.apple.com/app-store/"
          target="_blank"
        ><img src="/images/icons/app-store.png" alt="appStore" />App Store</a></li>
      <li class="footer-icons"><a
          href="https://play.google.com/"
          target="_blank"
        ><img src="/images/icons/google-play.png" alt="GooglePlay" />Google Play</a></li>
    </ul>
  </div>

</footer>
<script src="/js/home.js"></script>
<script src="/js/script.js"></script>